version: 2.1

jobs:
  build:
    docker:
      - image: python:3.10-alpine
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            python -m venv venv
            . venv/bin/activate
            pip install --upgrade pip
            pip install -r requirements.txt

  test:
    docker:
      - image: python:3.10-alpine
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            python -m venv venv
            . venv/bin/activate
            pip install --upgrade pip
            pip install -r requirements.txt
      - run:
          name: Run tests
          command: |
            python -m unittest discover

  deploy:
    docker:
      - image: docker:latest
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build and Push Docker Image
          command: |
            echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
            docker build -t shahmuhammadqureshi419/myapp:latest .
            docker push shahmuhammadqureshi419/myapp:latest
      - run:
          name: Deploying the app
          command: |
            echo "Deploying to production..."
            # Add deployment commands here (e.g., AWS, Firebase, Heroku, etc.)

workflows:
  version: 2
  ci_pipeline:
    jobs:
      - build
      - test:
          requires:
            - build
      - deploy:
          requires:
            - test
